---
http_interactions:
- request:
    method: get
    uri: https://rickandmortyapi.com/api/character/86
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"20d-zZAk6d5dr7tzPrRp/ctT4Z8O7Kk"
      X-Nf-Request-Id:
      - ddcf0879-11ff-482a-b90c-9a8256b8e824-1342263
    body:
      encoding: UTF-8
      string: '{"id":86,"name":"Cyclops Rick","status":"Dead","species":"Humanoid","type":"","gender":"Male","origin":{"name":"unknown","url":""},"location":{"name":"Citadel
        of Ricks","url":"https://rickandmortyapi.com/api/location/3"},"image":"https://rickandmortyapi.com/api/character/avatar/86.jpeg","episode":["https://rickandmortyapi.com/api/episode/10","https://rickandmortyapi.com/api/episode/22","https://rickandmortyapi.com/api/episode/28"],"url":"https://rickandmortyapi.com/api/character/86","created":"2017-11-30T20:53:10.382Z"}'
  recorded_at: Wed, 29 Jan 2020 03:02:02 GMT
[...]
- request:
    method: get
    uri: https://rickandmortyapi.com/api/character/373
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1bf-Kd2acygIQD+Cuf+1d5dqR4NPX+A"
      X-Nf-Request-Id:
      - ddcf0879-11ff-482a-b90c-9a8256b8e824-1343186
    body:
      encoding: UTF-8
      string: '{"id":373,"name":"Unmuscular Michael","status":"Alive","species":"Human","type":"","gender":"Male","origin":{"name":"unknown","url":""},"location":{"name":"Interdimensional
        Cable","url":"https://rickandmortyapi.com/api/location/6"},"image":"https://rickandmortyapi.com/api/character/avatar/373.jpeg","episode":["https://rickandmortyapi.com/api/episode/8"],"url":"https://rickandmortyapi.com/api/character/373","created":"2018-01-10T19:22:04.075Z"}'
  recorded_at: Wed, 29 Jan 2020 03:02:05 GMT
recorded_with: VCR 5.0.0
