---
http_interactions:
- request:
    method: get
    uri: https://rickandmortyapi.com/api/character/370
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1ce-1XZHmMwkgZ7tvwk9pl0WG+vGgQU"
      X-Nf-Request-Id:
      - 25a7b2bf-1419-410f-ae6f-b43d2fb26a38-6798831
    body:
      encoding: UTF-8
      string: '{"id":370,"name":"Two Guys with Handlebar Mustaches","status":"Alive","species":"Human","type":"","gender":"Male","origin":{"name":"unknown","url":""},"location":{"name":"Interdimensional
        Cable","url":"https://rickandmortyapi.com/api/location/6"},"image":"https://rickandmortyapi.com/api/character/avatar/370.jpeg","episode":["https://rickandmortyapi.com/api/episode/8"],"url":"https://rickandmortyapi.com/api/character/370","created":"2018-01-10T19:17:57.976Z"}'
  recorded_at: Wed, 29 Jan 2020 21:08:20 GMT
[...]
- request:
    method: get
    uri: https://rickandmortyapi.com/api/character/247
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"191-BnkOvDoNRO2UiVk7n73c/Fxnuqw"
      X-Nf-Request-Id:
      - 25a7b2bf-1419-410f-ae6f-b43d2fb26a38-6934035
    body:
      encoding: UTF-8
      string: '{"id":247,"name":"Mrs. Poopybutthole","status":"Alive","species":"Poopybutthole","type":"","gender":"Female","origin":{"name":"unknown","url":""},"location":{"name":"unknown","url":""},"image":"https://rickandmortyapi.com/api/character/avatar/247.jpeg","episode":["https://rickandmortyapi.com/api/episode/31"],"url":"https://rickandmortyapi.com/api/character/247","created":"2017-12-30T18:10:48.293Z"}'
  recorded_at: Wed, 29 Jan 2020 21:13:31 GMT
recorded_with: VCR 5.0.0
