---
http_interactions:
- request:
    method: get
    uri: https://rickandmortyapi.com/api/episode/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"476-boXDzfE2CG1sL0nLatsDX4NkQfM"
      X-Nf-Request-Id:
      - 25a7b2bf-1419-410f-ae6f-b43d2fb26a38-6800566
    body:
      encoding: UTF-8
      string: '{"id":5,"name":"Meeseeks and Destroy","air_date":"January 20, 2014","episode":"S01E05","characters":["https://rickandmortyapi.com/api/character/1","https://rickandmortyapi.com/api/character/2","https://rickandmortyapi.com/api/character/38","https://rickandmortyapi.com/api/character/41","https://rickandmortyapi.com/api/character/89","https://rickandmortyapi.com/api/character/116","https://rickandmortyapi.com/api/character/117","https://rickandmortyapi.com/api/character/120","https://rickandmortyapi.com/api/character/175","https://rickandmortyapi.com/api/character/193","https://rickandmortyapi.com/api/character/238","https://rickandmortyapi.com/api/character/242","https://rickandmortyapi.com/api/character/271","https://rickandmortyapi.com/api/character/303","https://rickandmortyapi.com/api/character/326","https://rickandmortyapi.com/api/character/333","https://rickandmortyapi.com/api/character/338","https://rickandmortyapi.com/api/character/343","https://rickandmortyapi.com/api/character/399","https://rickandmortyapi.com/api/character/400"],"url":"https://rickandmortyapi.com/api/episode/5","created":"2017-11-10T12:56:34.236Z"}'
  recorded_at: Wed, 29 Jan 2020 21:08:24 GMT
[...]
